body {
    margin: 0;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
}
  
li a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    background-color: #af4c5c;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.admin-img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: white 1px solid;
}

.admin-icon {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    margin: 50px;
}

.grid-container {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-gap: 1rem;
}

.grid-card {
    background: black;
    color: white;
    padding: 1rem;
    height: auto;
    border-radius: 8px;
    border: none;
    align-items: center;
    display: block;
}

@media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(3, 1fr); }
}

.text {
    width: 50%;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0;
}

.icon {
    width: 50%;
    margin-top: 15px;
    color: white;
    text-align: center;
}

#number {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
}

.top {
    display: flex;
}


