.box-div {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 1px white;
    border-radius: 10px;
    margin-top: 50px;
    background: black;
    color: white;
}

.content-div {
    margin: 50px;
    align-items: center;
    align-content: center;
    display: block;
    text-align: center;
}

.icon-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: white solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reset-btn {
    background-color:white;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    padding: 8px;
    width: 150px;
}