@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

.navbar-brand {
  color: black;
  font-weight: 900;
  font-size: larger;
}

.nav-link {
  color: black;
}

.new-arival-text {
    margin: 50px 0 0 0;
    align-items: center;
    display: block;
}
  
.new-arival-text p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
    align-items: center;
}

/*add full-width input fields*/ 
      
input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
} 
/* set a style for all buttons*/ 
  
button { 
    background-color: black; 
    color: white; 
    padding: 15px 20px; 
    margin: 8px 0; 
    cursor: pointer; 
    font-size: 14px;
    width: 100%; 
} 
/*set styles for the cancel button*/ 
  
.cancelbtn { 
    padding: 15px 20px; 
    background-color: black; 
} 
/*float cancel and signup buttons and add an equal width*/ 
  
.cancelbtn, 
.signupbtn { 
    float: left; 
    width: 50%; 
    margin-top: 30px;
    font-size: 12px;
} 

/*add padding to container elements*/ 
  
.container-login {
    max-width: 70%; 
    padding: 30px;
    border: 1px solid darkgray;
    margin-bottom: 30px;
    position: relative;
    margin-left: auto; 
    margin-right: auto;
} 
/*clear floats*/ 
  
.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
} 
/*styles for cancel button and signup button  
  on extra small screens*/ 
  
@media screen and (max-width: 300px) { 
    .cancelbtn, 
    .signupbtn { 
        width: 100%; 
    } 
} 

