

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

.navbar-brand {
  color: black;
  font-weight: 900;
  font-size: larger;
}

.nav-link {
  color: black;
}

.option-shop{
  margin: 0;
  padding: 0;
  width: 20%;

}

.product {
  text-align: center;
  margin: 30px;
}

.product-list{
  padding: 10px;
}

.product-list .card-product {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.card-product .title {
  font-size: 18px;
  font-weight: bold;
}

.card-product img {
  max-width: 100%;
  background-color: rgb(241, 241, 241);
}

.card-product .product-name{
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: black;
}

.product-price {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  color: rgb(68, 68, 68);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 1rem;
}

.page-footer {
  background-color: black;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 50px;
  position: buttom;
  left: 0;
  bottom: 0;
  width: 100%;
}
.text-uppercase {
  color: white;
  text-align: left;
}
.address-text  {
  color: white;
  text-align: left;
}

.footer-copyright {
  color: white;
  text-align: center;
}

.btn-group {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-group-container {
  margin: 30px;
}

.dropdown {
  width: 25%;
}

#dropdownMenuButton {
  width: 100%;
  border-radius: 0px;
  border: rgb(216, 216, 216) 1px solid;
  padding: 10px;
}

.dropdown-menu {
  width: 100%;
  border-radius: 0px;
  border: rgb(216, 216, 216) 1px solid;
  margin: 10px;
}

.dropdown-item {
  padding: 10px;
  border: rgb(216, 216, 216) 1px solid;
  height: 50px;
}

.color {
  margin-left: 15px
}

#black {
  color: black;
}

#white {
  color: rgb(240, 241, 241);
}

#red { 
  color: rgb(192, 72, 72);
}

#green {
  color: rgb(72, 196, 72);
}

#blue {
  color: rgb(67, 67, 199);
}

#brown {
  color: rgb(100, 58, 58);
}

#orange {
  color: rgb(255, 153, 0);
}

.fas {
  margin: 8px;
}

