@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

.head-image {
  display: grid;
  height: 100%;
}

.bg-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.navbar-brand {
  color: black;
  font-weight: 900;
  font-size: larger;
}

.nav-link {
  color: black;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 250px;
  height: 180px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}

.arival-product{
  max-height: 100%;
  max-width: 100%;
}

.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.price p {
  font-family: sans-serif;
  font-weight: bold;
  color: orange;
  text-align: center;
  display: block;
  align-items: center;
}

.new-arival-text {
  margin: 50px 0 0 0;
  align-items: center;
  display: block;
}

.new-arival-text p {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  display: block;
  align-items: center;
}

@media(max-width: 720px) {
  .box  {
    width: 94%;
    height: 300px;
  }

  .arival-product{
    height: 250px;
  }

  .price p {
    font-size: 16px;
    width: 250px;
  }
}

.HR-line {
  margin-top: 50px;
  width: 100%;
  display: block;
}

.line {
  border: 5px solid black;
  max-width: 100%;
}

div.gallery {
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: 0px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  margin: 50px 20px 50px 20px;
  float: left;
  width: 24.99999%;
  align-items: center;
  justify-items: center;
  display: block;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.rec_product_container{
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-img {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: relative;
  top: 100%;
}

.text {
  background-color:black;
  color: white;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: black;
}

.a { 
  text-decoration: none; 
}

/* Create two equal columns that floats next to each other */
.row {
  margin-bottom: 30px;
}
.column {
  margin-top: 30px;
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.story-img {
  max-width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.blockquote{
  max-width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 20px;
}

.border-story{
  border-style: groove;
  max-width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.mission-img {
  max-width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.looking-for-designer {
  margin-top: 50px;
}

#looking-for-designer {
  font-weight: bold;
  text-align: center;
  display: block;
  align-items: center;
}

#join-us{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.page-footer {
  background-color: black;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 50px;
}
.text-uppercase {
  color: white;
  text-align: left;
}
.address-text  {
  color: white;
  text-align: left;
}

.footer-copyright {
  color: white;
  text-align: center;
}